* {
    font-family: 'OFL Sorts Mill Goudy TT', Palatino, Times, serif;
}
a {
    line-height: 120%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Artisan12', 'American Typewriter', Courier, mono;
    line-height: 80%;
}
ul.index_items {
    font-size: smaller;
    list-style-position: inside;
    padding: 0;
}
ul.index_items li {
    border: 0;
    padding: 0 0;
    margin: 0.25em 0;
}